body{
	position: absolute;
	top: -8px;
	bottom: -8px;
	left: -8px;
	width: 100%;
	min-width: 1000px;
	height: 100% + 2em;
	font-family: "微軟正黑體";
}
header{
	position: relative;
	padding: 0.7em 1em;
	height: 2em;
	overflow: hidden;
}
input{
	font-family: inherit;
}
table{
	width: 100%;
	text-align: center;
	border-style: none;
}
table th{
	background-color: #842b00;
	color: white;
}
.front-header{
	min-width: 1000px;
	background-color: #842b00;
}
.front-header label[id="title"]{
	font-size: 1.35em;
	font-weight: 600;
}
.front-header label[id="title"] a{
	text-decoration: none;
	color: white;
}
.front-header nav{
	position: relative;
	top: -0.7em;
	float: right;
	/*overflow: hidden;*/
	/*background-color: orange;*/
}
.front-header nav ul, .area-block ul{
	list-style-type: none;
	margin: 0;
  	padding: 0;
}
.front-header nav ul li, .area-block ul li{
	float: left;
}
.front-header nav ul a{
	display: block;
	/*width: 2em;*/
	color: white;
  	text-align: center;
	text-decoration: none;
	/*background-color: orange;*/
	padding: 1.05em 1em;
	font-size: 1em;
}
.front-header nav ul a[class="nav-btn"]{
	display: block;
	position: relative;
	top: 0.6em;
	left: 0.25em;
	color: white;
  	text-align: center;
	text-decoration: none;
	background-color: #ff6000;
	border-radius: 0.5em;
	padding: 0.45em 1em;
	font-size: 1em;
}
.front-header nav ul a[class="nav-btn"]:hover{
	background-color: #ffa042;
}
.front-header nav ul a:hover{
	background-color: #bb3d00;
}
#cart{
	color: yellow;
	font-weight: 600;	
}
.container{
	position: relative;
	min-width: 1000px;
	width: 100%;
	/*min-height: 60vh;*/
	height: auto;
	/*background-color: pink;*/
}
.content{
	position: relative;
	margin: 0 auto;
	min-width: 900px;
	width: 90vw;
	padding: 1em;
	height: auto;
	/*background-color: red;*/
}
#headerImg{
	position: relative;
	background-color: #eee;
	align-items: center;
	height: 20em;
}
#contentImg{
	position: relative;
	background-color: #eee;
	align-items: center;
	height: 10em;
}

.content-area{
	position: relative;
	text-align: center;
	/*background-color: gray;*/
	/*min-width: inherit;*/
	min-width: 900px;
	/*height: 37em;*/
}
.content-area label[class="title"]{
	position: relative;
	top: 0.5em;
	/*bottom: 1em;*/
	color: white;
	padding: 0.25em 2em;
	font-weight: 600;
	font-size: 1.4em;
	background-color: #842b00;
}

.content-area label[class="sub-title"]{
	position: relative;
	margin: 0 auto;
	top: 0.5em;
	font-size: 1.2em;
}
.content-area label[class="sub-price"]{
	position: relative;
	margin: 0 auto;
	top: 0.5em;
	font-size: 1em;
	color: red;
	font-weight: 600;
}

.area-block{
	position: relative;
	top: 1em;
	min-width: 900px;
	width: inherit;
	height: auto;
	/*background-color: green;*/
}
.area-block ul{
	position: relative;
	min-width: inherit;
	width: inherit;
	height: auto;
	top: 0.5em;
	/*background-color: red;*/
}
.area-block ul li{
	position: relative;
	min-width: 120px;
	width: 12vw;
	padding: 1.2em 3vw;
	height: auto;
	/*background-color: orange;*/
}
.area-block ul li:hover{
	background-color: #fff3cc;
}

.area-block ul li div[class="img"]{
	position: relative;
	margin: 0 auto;
	min-width: 120px;
	min-height: 120px;
	width: 12vw;
	height: 12vw;
	background-color: #eee;
	border-width: 0.1em;
	border-color: #ddd;
	border-style: solid;
}

#footer{
	position: fixed;
	bottom: 0;
	padding: 0.7em 0;
	color: white;
	text-align: center;
	background-color: #666;
	font-size: 0.95em;
	min-width: 1000px;
	width: inherit;
	height: auto;
}
.login-form{
	position: relative;
	margin: 1em auto;
	width: 360px;
	height: auto;
	padding: 1em;
	border-color: #eee;
	border-style: solid;
	border-width: 0.1em;
	border-radius: 0.5em; 
	text-align: center;
	background-color: #eee;
}
.login-form label[class="title"]{
	font-size: 1.5em;
	font-weight: 600;
	color: #842b00;
}
.login-form form{
	padding: 0.5em 0;
}
.backend-login form{
	position: relative;
	top: 1em;
	padding: 0.5em 1.5em;
}
.login-form form input[type="text"],
.login-form form input[type="email"],
.login-form form input[type="password"],
.backend-login form input[type="text"],
.backend-login form input[type="email"],
.backend-login form input[type="password"]{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding: 0.3em;
	font-size: 0.9em;
	font-family: inherit;
	width: 100%;
}
.form-block{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	text-align: left;
}
/*-----button-----*/
.btn{
	text-decoration: none;
	border-style: none;
	padding: 0.1em 0.3em;
	font-style: inherit;
	font-size: 1em;
	color: black;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	height: 2em;
	background-color: #eee;
}
.btn:hover{
	background-color: #ddd;
}
.btn-primary{
	background-color: #ff7000;
	color: white;
}
.btn-primary:hover{
	background-color: #ffa042;
}
.btn-second{
	background-color: #444;
	color: white;
}
.btn-second:hover{
	background-color: #666;
}
.btn-green{
	background-color: #00a600;
	color: white;
}
.btn-green:hover{
	background-color: #00bb00;
}
.btn-block{
	position: relative;
	top: 0.7em;
	padding-bottom: 0.5em;
}
/*---------------------------*/
.backend-header{
	background-color: #444;
}
.backend-header nav ul a:hover{
	background-color: #666;
}
.backend-color{
	color: #444;
}
.backend-login{
	position: relative;
	margin: 0 auto;
	top: 2em;
	width: 400px;
	height: 300px;
	border-color: #bbb;
	border-width: 0.1em;
	border-style: solid;
	background-color: white;
	text-align: center;
}
.backend-login div[class="back-title"]{
	position: relative;
	width: inherit;
	font-size: 1.5em;
	font-weight: 600;
	color: white;
	text-align: center;
	padding: 0.5em 0;
	height: auto;
	background-color: #444;
}
.backend-login label[class="back-info"]{
	position: relative;
	top: 0.5em;
	font-size: 1.3em;
}
#total-title{
	font-size: 1.5em;
	font-weight: 600;
	margin-right: 0.7em;
}
#total-btn{
	position: relative;
	top: -0.1em;
	padding: 0.25em 1em;
}
#backend-title-area{
	margin-top: 1em;
	margin-bottom: 1em;
}
#backend-content-area{

}
/*---------------------------*/
button a{
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}
.half{
	width: 49%;
}
.fit{
	width: 100%;
}